.footer {
  grid-area: footer;
  padding: 2rem 1rem;
  background-color: #f0f1f3;
}

.heading {
  /* padding: 40px; */
  font-size: 12px;
  text-align: center;
  color: #5c5c5c;
}

.information {
  /* padding: 10px, 10px; */
  font-size: 12px;
  text-align: center;
  color: #5c5c5c;
}
