.container {
  min-height: 100vh;
  display: grid;
  grid:
    "site_header" auto
    "content" 1fr
    "footer" auto
    / 1fr;
  gap: 0em;
}

.content {
  grid-area: content;
  padding: 2.5em 1.5em;
  margin: 0px auto;
}
