.container {
	margin: 0 auto;
	padding: 0 15px;
}

.module {
	padding-top: 13rem;
	padding-bottom: 9rem;
	background: linear-gradient(to bottom right, #1c3633, rgba(28, 54, 51, 70%)), url('https://res.cloudinary.com/dycpos4uc/sample.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

header .h1-large {
	width: 50rem;
	margin-right: auto;
	margin-left: auto;
	font-size: 4.75rem;
	line-height: 5.75rem;
	margin-bottom: 2.5rem;
	color: #fff;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.875rem 3rem;
	border: 2px solid #252936;
	border-radius: 32px;
	background-color: transparent;
	color: #252936;
	font-weight: 400;
	font-size: 1rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

header .btn-outline-lg {
	border: 2px solid #fff;
	color: #fff;
}

.btn-outline-lg:hover {
	background-color: #252936;
	color: #fff;
	text-decoration: none;
}

header .btn-outline-lg:hover {
	background-color: #fff;
	color: #252936;
}

/* Invite */
.invite .text-container {
	margin-bottom: 0;
}

.features .text-container {
	margin-bottom: 2rem;
}