
.container {
  background-color: rgb(248, 249, 251);
}

.container > p {
  margin-bottom: 1em;
  font-size: 1.26562em;
  transition: color 400ms ease-in-out 0s;
}

.img_block {
  display: flex;
  justify-content: center;
}
