.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
}

@media (min-width: 992px) {
	.navbar .logo-image {
		margin: 0;
	}
}

.navbar {
	position: absolute;
	top: 26px;
	right: 0;
	left: 0;
	background-color: transparent;
	color: #fff;
}

.navbar .flex {
	flex-direction: column;
}

.navbar a {
	text-decoration: none;
}

.navbar .logo-image {
	width: 134px;
	height: 30px;
	margin-top: 0.5rem;
	margin-bottom: 1.25rem;
}

.navbar .logo-text {
	margin-bottom: 0.5rem;
	color: #fff;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.875rem;
}

.navbar ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0.5rem 0.75rem 0;
	background-color: #0003;
}

.navbar ul li {
	padding: 0 0.75rem 0.5rem;
}

.navbar ul a {
	color: #fff;
}

.navbar ul a:hover {
	border-bottom: 2px #fff solid;
}

